#portafolio {
  background: #f4f4f4;
}

i {
  font-size: 80%;
}

.tec {
  display: inline-block;
  font-size: 90%;
  color: #1a1a1a;
  border: 2px solid #04c2c9;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
}

.project::after {
  display: block;
  height: 2px;
  background: linear-gradient(
    90deg,
    #a7a7a709 0%,
    #b3b3b3cc 50%,
    #a7a7a709 100%
  );
  content: ' ';
  width: 30em;
  margin: 3.2em auto 0px auto;
}
.project-description {
  font-weight: 300;
}
